{
	"$schema": "https://json.schemastore.org/prettierrc",
	"semi": true,
	"tabWidth": 2,
	"useTabs": true,
	"printWidth": 120,
	"singleQuote": true,
	"bracketSpacing": true,
	"trailingComma": "es5",
	"arrowParens": "always",
	"plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
	"importOrder": ["^(react|react-dom)$", "<THIRD_PARTY_MODULES>", "", "^@/(.*)$", "^[./]", "", "\\.css$"],
	"importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
	"importOrderTypeScriptVersion": "5.0.0"
}
